@{
    ViewData["Title"] = "Podcasts";
}

<div class="text-center">
    <h1 class="display-4">Baconsale Podcast</h1>
    <p>Learn More About <a href="https://baconsale.com/">Baconsale</a> Here</p>
</div>
